body, html
{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 10px;
    font-family: arial;
    font-size: 16px;
}
.layer1 {
   background: #339900; /* Цвет фона */
   color: #fff; /* Цвет текста */
   width: 310рх; /* Ширина слоя */
   padding: 10px; /* Поля вокруг текста */
   margin-bottom: -10px; /* Отступ снизу */
   font-size: 1.1em; /* Размер шрифта */
   }
.layer2 {
   margin-left: 100px; /* Отступ слева */
   background: #99CC66; /* Цвет фона */
   width: 300px; /* Ширина слоя */
   padding: 10px; /* Поля вокруг текста */
   border: 1px solid #fff; /* Параметры рамки */
   margin-bottom: -10px; /* Отступ снизу */
   }
.layer3 {
   margin-left: 180px; /* Отступ слева */
   background: #339900; /* Цвет фона */
   width: 233px; /* Ширина слоя */
   color: #fff; /* Цвет текста */
   padding: 10px; /* Поля вокруг текста */
   border: 1px solid #fff; /* Параметры рамки */
   }
A.blocks{
   text-decoration: none;
   color: #009966;
}	
a.blocks:hover {
    color: #00CC66;  
} 
.theme-menu
{
    font-family: Arial Black;
    position: absolute;
    right: 5px;
    top: 200px;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    color: #f4f4f4;
    background: #336633;
}
.theme-button
{
    font-family: Arial Black;
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    color: #f4f4f4;
    background: #336633;
}
.theme-button:hover
{
    background: #555;
}

.theme-menu:hover
{
    background: #555;
}
