body, html
{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 10px;
    font-family: arial;
    font-size: 16px;
ul {
width: 60px; /* Ширина меню */
list-style: none; /* Для списка убираем маркеры */
margin: 0; /* Нет отступов вокруг */
padding: 0; /* Убираем поля вокруг текста */
}
li ul {
position: absolute; /* Подменю позиционируются абсолютно */
display: none; /* Скрываем подменю */
background-color: orange;
}
li a {
width: 180px;
display: block;
text-decoration: none; /* Подчеркивание у ссылок убираем */
background-color: orange;
border-left: 1px solid black;
border-right: 1px solid black;
}
li a:hover {
color: black; /* Цвет текста активного пункта */
background-color: green;
color: white;
display: block;
}
li:hover ul {
display: block; /* При выделении пункта курсором мыши отображается подменю */
}
.brd {
border-bottom: 1px solid black; /* Линия снизу */
}
.hgt {
border-top: 1px solid black;
}
}
.layer1 {
   background: #339900; /* Цвет фона */
   color: #fff; /* Цвет текста */
   width: 310рх; /* Ширина слоя */
   padding: 10px; /* Поля вокруг текста */
   margin-bottom: -10px; /* Отступ снизу */
   font-size: 1.1em; /* Размер шрифта */
   }
.layer2 {
   margin-left: 100px; /* Отступ слева */
   background: #99CC66; /* Цвет фона */
   width: 300px; /* Ширина слоя */
   padding: 10px; /* Поля вокруг текста */
   border: 1px solid #fff; /* Параметры рамки */
   margin-bottom: -10px; /* Отступ снизу */
   }
.layer3 {
   margin-left: 180px; /* Отступ слева */
   background: #339900; /* Цвет фона */
   width: 233px; /* Ширина слоя */
   color: #fff; /* Цвет текста */
   padding: 10px; /* Поля вокруг текста */
   border: 1px solid #fff; /* Параметры рамки */
   }
A.blocks{
   text-decoration: none;
   color: #009966;
}	
a.blocks:hover {
    color: #00CC66;  
} 
.theme-menu
{
    position: absolute;
    right: 5px;
    top: 100px;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
}
.theme-button
{
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
}
