body, html
{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: arial;
    font-siz: 16px;
}
.layer1 {
   background: #339900; /* Цвет фона */
   color: #fff; /* Цвет текста */
   width: 310рх; /* Ширина слоя */
   padding: 10px; /* Поля вокруг текста */
   margin-bottom: -10px; /* Отступ снизу */
   font-size: 1.1em; /* Размер шрифта */
   }
.layer2 {
   margin-left: 100px; /* Отступ слева */
   background: #99CC66; /* Цвет фона */
   width: 300px; /* Ширина слоя */
   padding: 10px; /* Поля вокруг текста */
   border: 1px solid #fff; /* Параметры рамки */
   margin-bottom: -10px; /* Отступ снизу */
   }
.layer3 {
   margin-left: 180px; /* Отступ слева */
   background: #339900; /* Цвет фона */
   width: 233px; /* Ширина слоя */
   color: #fff; /* Цвет текста */
   padding: 10px; /* Поля вокруг текста */
   border: 1px solid #fff; /* Параметры рамки */
   }
a.{
   text-decoration: none;
    color: #fff;
    margin-left: 25%;
    line-height: 75px;
}			
.theme-button
{
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
}
